$global-baseline: 8px;
$global-font-size: 16px;

$breakpoint-xs: 640;
$breakpoint-sm: 960;
$breakpoint-md: 1024;
$breakpoint-lg: 1280;
$breakpoint-xl: 1440;

$grid-breakpoint-mobile: "max-width: 959px";
$grid-breakpoint-desktop: "min-width: 960px";

$container-max-width: 1250px;

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #606266;
$color-blue: #409eff;
$color-light-gray: #f2f6fc;
$color-input-border: #DCDFE6;
$color-gray: #909399;